@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Smooth transition saat ganti dark/light mode */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 300ms;
}